.nav-bar {
  background-color: yellowgreen;
  justify-content: space-evenly;
  display: flex;
  padding: 2vh;
  margin: 0;
  list-style-type: none;
}

.route {
  text-decoration: none;
}

.body {
  display: flex;
  justify-content: space-evenly;
}

.img-todo {
  height: 50vh;
}

.img-shop {
  height: 50vh;
}

.card:hover {
  cursor: pointer;
}


/* --------TODO PAGE-------- */
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoForm {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  width: 20%;
  height: 30px;
  border-radius: 10px;
}

.add-btn {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  margin-left: 5px;
  height: 35px;
  border-radius: 10px;
  width: 50px;
  font-size: 16px;
}


@media screen and (max-width: 400px) {
  .nav-bar {
    width: 100%;
  }
 
  .body {
    flex-direction: column;
  }
 
  .input-box {
    width: 100%;
  }
 
  .add-btn {
    width: 100%;
  }
 }